.envelope-container {
//   margin: 100px auto;
  width: 400px;
  height: 300px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;

  .item {
    position: absolute;
    top: 20%; // adjust to align items with envelope opening
    width: 100px;
    height: auto;
    z-index: 2;
  }

.mixer {
  left: 10%;
  width: 40%; // bigger
}

.reward {
  right: 10%;
  width: 40% // smaller
}
}
